.Header{
    background-color: black;
    border-bottom: 2px solid red;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;  
    justify-content: space-around;  
}

.Header span{
    font-size: 2rem;
    color: red;
    font-weight: 500;
}
.Header a {
    text-decoration: none;
    columns: #fff;
    padding-inline: 0.5rem
}